; Enable opcache extension module
; priority=10
zend_extension=opcache.so

opcache.enable = {{ getenv "PHP_OPCACHE_ENABLE" "On" }}
opcache.enable_cli = Off
opcache.memory_consumption = {{ getenv "PHP_OPCACHE_MEMORY_CONSUMPTION" "512" }}
opcache.interned_strings_buffer = 64
opcache.max_accelerated_files = 65407
opcache.validate_timestamps = true
opcache.revalidate_freq = 2
opcache.save_comments = 1
