[program:permission]
command=/bin/sh -c '/bin/chown {{ getenv "UID" "1000" }}:{{ getenv "GID" "1000" }} /var/www/html'
#stdout_logfile=/dev/fd/1
#stdout_logfile_maxbytes=0
#stderr_logfile=/dev/fd/2
#stderr_logfile_maxbytes=0
startsecs=0
autorestart=false
