[program:gotty]
command=/usr/bin/gotty --port 4200 --permit-write --credential {{ getenv "GOTTY_USERNAME" "wordpress" }}:{{ getenv "GOTTY_PASSWORD" "wordpress" }} /bin/bash
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
stderr_logfile=/dev/fd/2
stderr_logfile_maxbytes=0
autorestart=true
stopsignal=SIGQUIT
stopwaitsecs=30
