name: Dev run tests
on:
  push:
    branches:
      - develop
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Compose
        uses: KengoTODA/actions-setup-docker-compose@v1
        with:
          version: latest
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: image=moby/buildkit:master
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21
      - name: Download deps
        run: go mod download -x
      - name: Test
        run: go test -race -v ./...
