name: Lint Dockerfile

on:
  push:
    branches:
      - main
  pull_request: null

permissions:
  contents: read

jobs:
  test:
    if: ${{ false }}  # disabled until the Dockerfiles are updated locally
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          recursive: "true"
          ignore: DL3007,DL3008,DL3018
